
  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Ultra&display=swap');

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #080808; 
    color: #fff;
 padding-left: 35px;
 padding-right: 35px;
}

header {
    background-color: #080808; 
    padding: 50px; 
  }
  
  
  .navlist {
    text-align: center; 
  }
  

  .navlist ul {
    list-style: none; 
    margin: 0;
    padding: 0;
  }
  
  .navlist li {
    display: inline-block; 
    margin-right: 15px; 
  }
  
  .navlist a {
    text-decoration: none; 
    color: #fff;
    font-weight: bold; 
    font-size: 16px; 
    transition: color 0.3s ease; 
  }
  h1{
    font-family: 'Ultra', serif;
    font-size: 5rem;
    color: #e10e0e;
  }
  
  .navlist a:hover {
    color: #ec1a07;
  }
  
#myCarousel {
  margin-top: 20px;
}



.carousel-item{
    height: 32rem;
    background: #000000;
    color: whiite;
    position: relative;
   
}

.container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}


.btn-primary {
  background-color: #217cd8; 
  color: #fff; 
  border: 2px solid #87aeee; 
}

.btn-primary:hover {
  background-color: #ef1f1f; 
  border: 2px solid #000000; 
}




#about{
  background-color: #1a1919; 
  padding: 90px 0px; 
}

.about-section {
  margin-top: 90px; 
  margin-bottom: 10px; 
  text-align: center; 
  
}



.about-section p {
  font-size: 16px; 
  line-height: 1.6; 
  padding-top: 0;
}


.col-lg-6 {
  flex: 0 0 50%; 
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px; 
  font-family: 'Ultra', serif;
  color: #ec1a07;
}

p {
  font-size: 16px; 
  line-height: 1.6; 
  margin-bottom: 15px; 
}



#cast {
  background-color: #020202;
}


.card {
  border: 1px solid #110f0f;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  padding: 20px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.card-body {
  padding: 15px;
}

.card-text {
  color: #343a40;
}


#cast h2 {
  text-align: center;
  color: #ff1500;
}


@media (max-width: 767px) {
  .card {
      margin-bottom: 20px;
  }
}




#trailer {
  background-color: #050505;
  padding: 50px 0;
}


#trailer h2 {
  text-align: center;
  color: #eb0909;
  margin-bottom: 30px;
}





@media (max-width: 767px) {
  #trailer h2 {
      font-size: 24px;
  }
}

